extends /layout/_default-layout

prepend config-block
  - page_name = 'DeepAR'

prepend stylesheet-block
  link(rel="stylesheet" href='/deepar/style.css')

prepend javascript-block
  script(type='text/javascript' src='/lib/deepar/deepar.js')
  script(type='text/javascript' src='/deepar/script.js')

block content-block
  canvas#deepar-canvas.deepar(oncontextmenu='event.preventDefault()')
  #loader-wrapper
    span.loader

  // Carousel
  //- .swiper
  //-   .swiper-container
  //-     .swiper-wrapper
  //-       .swiper-slide
  //-         img.swiper-slide-thumb(src='/img/deepar/galaxy.png')
  //-       .swiper-slide
  //-         img.swiper-slide-thumb(src='/img/deepar/aviators.png')
  //-       .swiper-slide
  //-         img.swiper-slide-thumb(src='/img/deepar/beard.png')
  //-       .swiper-slide
  //-         img.swiper-slide-thumb(src='/img/deepar/dalmatian.png')
  //-       .swiper-slide
  //-         img.swiper-slide-thumb(src='/img/deepar/flowers.png')
  //-       .swiper-slide
  //-         img.swiper-slide-thumb(src='/img/deepar/koala.png')
  //-       .swiper-slide
  //-         img.swiper-slide-thumb(src='/img/deepar/lion.png')
  //-       .swiper-slide
  //-         img.swiper-slide-thumb(src='/img/deepar/teddy_cigar.png')
  //-   .swiper-pagination